:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --brand-blue: #2196f3;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color, black);
  font-size: 14px;
}
nav {
  display: flex;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px 200px 0px 200px;
}
header {
  border-bottom: 1px solid #ececec;
  display: block;
}
.nav-links {
  display: flex;
}
.link {
  display: block;
  align-items: baseline;
}
.nav-links > .link:not(:last-child) {
  margin-right: 10px;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
ul > .li:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
a {
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--brand-blue, blue);
  font-weight: 700;
  font-size: 26px;
}
.logo-black {
  color: black;
}
.logo-white {
  color: #ffffff;
}
.nav-links {
  text-align: center;
  color: var(--main-color);
}
.nav-links :hover,
.nav-links :focus {
  color: var(--brand-blue, blue);
}

.nav-contact {
  color: var(--secondary-color, grey);
  text-align: right;
}

.nav-contact:hover,
.nav-contact:focus {
  color: var(--brand-blue, blue);
}
.header-background {
  background-position: 0px 0px;
  background-size: 1600px 80px;
}

.main-header {
  background-color: #2f303a;
  background-size: 1600px 600px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0, 06em;
  text-transform: uppercase;
  margin: 0px;
  display: block;
  padding: 94px 0px 94px 0px;
}
h1 {
  margin: 0px 200px 0px 200px;
}
.button.order {
  top: 440px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0, 06em;
  color: #ffffff;
  text-transform: none;
  background-size: 200px 50px;
  background-color: var(--brand-blue, blue);
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.first-section {
  line-height: 1.7;
  letter-spacing: 0, 03em;
  color: var(--secondary-color, grey);
  padding: 94px 0px 94px 0px;
  align-content: center;
}
.articles > li:not(:last-child) {
  margin-right: 10px;
}
.articles {
  margin: 0px;
}
.first-section-header {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0, 03em;
  color: var(--main-color, black);
  text-transform: uppercase;
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0, 03em;
  text-align: center;
}
.second-section {
  align-content: center;
  padding: 94px 0px 94px 0px;
}
.second-section > ul > li:not(:last-child) {
  margin-right: 10px;
}
.our-team {
  background-color: #f5f4fa;
  background-size: 1600px 648px;
  align-content: center;
  padding: 94px 0px 94px 0px;
}
ul > .card:not(:last-child) {
  margin-right: 10px;
}

.card {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-color, grey);
}
.card-header {
  font-weight: 500;
  color: var(--main-color, black);
}
.section-footer {
  background-color: #2f303a;
  font-weight: 400;
  padding: 94px 0px 94px 40px;
}
.footer-address {
  font-style: normal;
  line-height: 1.7;
  color: #ffffff;
  margin: 0px 200px 0px 200px;
}
.section-footer > .logo {
  margin: 0px 200px 0px 200px;
  padding-bottom: 20px;
}
.footer-contact {
  font-weight: 400;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--brand-blue, blue);
}

.product-buttons {
  font-size: 16px;
  text-align: center;
  margin: 0px 200px 0px 200px;
  padding: 94px 0px 94px 0px;
  max-width: 1200px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.product-buttons > ul > li:not(:last-child) {
  margin-right: 10px;
}
. .product-buttons > ul > .button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--main-color, black);
  cursor: pointer;
  /* background-color: #F5F4FA; */
}
.button:hover,
.button:focus {
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--brand-blue, blue);
  border-color: var(--brand-blue, blue);
}
.product-card {
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-color, grey);
}
.product-card-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color, black);
}
.section-products {
  border-top: #ececec;
  margin: 0px 200px 0px 200px;
}
.section-products>ul>li>h3{
  padding-left: 15px;
}
.section-products>ul>li>p{
  padding-left: 15px;
}
.section-products>ul{
  display: flex;
  flex-wrap: wrap;
row-gap: 15px;
}